<p id="notice"><%= notice %></p>

<h1>Productos</h1>
<div class="row">

<% @products.each do |product| %>
<div class="card col-md-3">
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= link_to product.user.email, user_path(product.user) %></h6>
    <h6 class="card-subtitle mb-2 text-muted"><%= "$#{product.price}" %></h6>
    <a href="#" class="card-link">Comprar</a>
    <% unless current_user == nil %>
    <%= link_to 'Show', product, class:'card-link' %>
    <% if product.user_id == current_user.id %>
    <%= link_to 'Edit', edit_product_path(product), class:'card-link' %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class:'card-link' %>
    <% end %>
    <% end %>
  </div>
</div>
<br>
<% end %>
<br>
</div>


</div>
<br>

<%= link_to 'New Product', new_product_path %>
